<p-toolbar [style]="{'background-color':'#1e306e'}">
    <div class="container">
        <div class="d-flex justify-content-center">
            <a routerLink=""><img src="/assets/Images/logo.png" alt="image"></a>
        </div>
    </div>
</p-toolbar>
<div>
    <p-toolbar [style]="{'background-color':'#563672'}">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="p-toolbar-group-center">
                    <img src="../../assets/images/logo.png" alt="" width=30px>&nbsp;&nbsp;
                    <a routerLink=""><button style="background-color: #fe4880;"
                            class="btn btn-dark btn-lg">HOME</button></a>&nbsp;
                    <a routerLink="/Member1"><button style="background-color: #fe4880;"
                            class="btn btn-dark btn-lg">MEMBER1</button></a>&nbsp;
                    <a routerLink="/Member2"><button style="background-color: #fe4880;"
                            class="btn btn-dark btn-lg">MEMBER2</button></a>&nbsp;
                    <a routerLink="/Member3"><button style="background-color: #fe4880;"
                            class="btn btn-dark btn-lg">MEMBER3</button></a>&nbsp;
                    <a routerLink="/Member4"><button style="background-color: #fe4880;"
                            class="btn btn-dark btn-lg">MEMBER4</button></a>&nbsp;
                </div>
            </div>
        </div>
    </p-toolbar>
</div>