
<p-toolbar [style]="{'background-color':'#100d21'}">
    <div class="container">
        <div class="d-flex justify-content-center">
            <img src="/assets/Images/logo.png" alt="image">
        </div>
    </div>
</p-toolbar>
<div id="navbar">
    <p-toolbar>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="p-toolbar-group-center">
                    <img src="../../assets/images/logo.png" alt="" width=30px>&nbsp;&nbsp;
                    <a routerLink="/Member1">Member1</a>&nbsp;
                    <a routerLink="/Member2">Member2</a>&nbsp;
                    <a routerLink="/Member2">Member3</a>&nbsp;
                    <a routerLink="/Member2">Member4</a>&nbsp;
                </div>
            </div>
        </div>
    </p-toolbar>
</div>
<img src="/assets/Images/1.jpg" alt="image"><br>
<img src="/assets/Images/1.jpg" alt="image"><br>
<img src="/assets/Images/1.jpg" alt="image"><br>
