<body>
    <div class="container-fluid" style="width: 1180px; padding: 10px;">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="container-fluid">
                    <div class="row my-auto">
                        <div class="col-6 my-auto">
                            <strong>ร้านหมูกะละมัง by คุณแบงค์</strong>
                        </div>
                        <div class="col-5 my-auto" style="text-align: right;">
                            <span>{{ date}} น.</span>
                        </div>
                        <div class="col-1 my-auto" style="text-align: right;">
                            <button routerLink="/report" style="color: #ffffff;" pButton pRipple type="button"
                                icon="pi pi-align-justify" class="p-button-rounded p-button-outlined">
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div style="text-align: center; padding-bottom: 10px;">
                <span>เลือกโต๊ะ </span>
                <p-dropdown (onChange)="showTable(selectedTable.ID)" [options]="table" [(ngModel)]="selectedTable"
                    optionLabel="tableName">
                </p-dropdown>
            </div>
            <p-splitter [style]="{'height': '600px'}">
                <ng-template>
                    <div class='container'>
                        <div class="container" style="text-align: center;">
                            <br>
                            <strong>สั่งอาหาร</strong>
                        </div>
                        <div style="width: 420px;"><br></div>
                        <div class="row" style="text-align: center;">
                            <div class="col-sm-6">
                                <img (click)="showDialog(0)" src="assets/images/refill.jpg" width="200px"
                                    alt="เครื่องดื่มไม่อั้น (30 บาท)">
                                <br>เครื่องดื่มไม่อั้น (30 บาท)

                            </div>
                            <div class="col-sm-6">
                                <img (click)="showDialog(1)" src="assets/images/itim.jpeg" width="200px"
                                    alt="ไอศครีมไม่อั้น (50 บาท)">
                                <br> ไอศครีมไม่อั้น (50 บาท)
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-sm-6">
                                <img (click)="showDialog(2)" src="assets/images/small.jpg" width="200px"
                                    alt="เครื่องดื่มไม่อั้น (30 บาท)">
                                <br>ชุดเล็กอิ่มคุ้ม (59 บาท)
                            </div>
                            <div class="col-sm-6">
                                <img (click)="showDialog(3)" src="assets/images/big.jpg" width="200px"
                                    alt="ไอศครีมไม่อั้น (50 บาท)">
                                <br> ชุดใหญ่อิ่มแน่น (129 บาท)
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-sm-6">
                                <img (click)="showDialog(4)" src="assets/images/buffet-child.jpg" width="200px"
                                    alt="เครื่องดื่มไม่อั้น (30 บาท)">
                                <br>บุฟเฟต์เด็ก (109 บาท)
                            </div>
                            <div class="col-sm-6">
                                <img (click)="showDialog(5)" src="assets/images/buffet.jpg" width="200px"
                                    alt="ไอศครีมไม่อั้น (50 บาท)">
                                <br> บุฟเฟต์ผู้ใหญ่ (159 บาท)
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template>
                    <div class="container">
                        <div class="container" style="text-align: center;">
                            <br>
                            <div class="row">
                                <div class="col-12" *ngIf="table_num != undefined">
                                    <strong>จัดการรายการอาหารของโต๊ะ {{table_num}}</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <p-table [value]="manage_order" selectionMode="single" [(selection)]="selected_order">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="text-align: center; width: 140px;">รายการอาหาร</th>
                                        <th style="text-align: center; width: 100px;">ราคา</th>
                                        <th style="text-align: center; width: 100px;">จำนวน</th>
                                        <th style="text-align: center; width: 100px;">รวม</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product>
                                    <tr [pSelectableRow]="product"
                                        (click)='showOrderDialog(product.menuID,product.amount,product.tableID)'>
                                        <td style="text-align: center; width: 140px;">{{product.menuName}}</td>
                                        <td style="text-align: center; width: 100px;">{{product.menuPrice}}</td>
                                        <td style="text-align: center; width: 100px;">{{product.amount}}</td>
                                        <td style="text-align: center; width: 100px;">{{product.total}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="container">
                                <div class="row">
                                    <div class="col-9"
                                        style="text-align: right; padding-top: 10px; padding-bottom: 10px;">
                                        ราคารวมทั้งสิ้น
                                    </div>
                                    <div class="col-3"
                                        style="text-align: center; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        {{this.sum_total}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;padding-top: 10px;">
                            <div class="col" *ngIf='btn'>
                                <button (click)="showDialogBill()" style="width: 150px;" pButton type="button"
                                    label="ชำระเงิน">
                                    <span class="p-button-icon p-button-icon-left pi pi-wallet"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-splitter>
        </p-panel>
    </div>
</body>

<p-dialog header="เลือกจำนวน" [(visible)]="display" [modal]="true" [style]="{width: '280px'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div style="padding-top: 5px; text-align: center;" class="ng-tns-c39-10 ng-star-inserted">
        <span>
            <strong>{{menu}}</strong>
        </span>
    </div>
    <div style="text-align: center;">
        <div class="row">
            <div class="col my-auto">
                <button (click)="setMinus()" pbutton="" type="button" icon="pi pi-minus"
                    class="p-button-rounded p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-minus" aria-hidden="true">
                    </span>
                    <span aria-hidden="true" class="p-button-label">
                        &amp;nbsp;
                    </span>
                </button>
            </div>
            <div class="col my-auto">
                <span style="font-size: 48px;">{{num}}</span>
            </div>
            <div class="col my-auto">
                <button (click)="setPlus()" pbutton="" type="button" icon="pi pi-plus"
                    class="p-button-rounded p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-plus" aria-hidden="true"></span><span aria-hidden="true"
                        class="p-button-label">&amp;nbsp;</span>
                </button>
            </div>
            <div style="text-align: center; padding-top: 20px;" class="container">
                <button (click)="save()" pbutton="" type="button" icon="pi pi-check" style="width: 200px;"
                    class="p-button p-component">
                    <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                    <span class="p-button-label">{{text}}</span>
                </button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="เลือกจำนวน" [(visible)]="display_order" [modal]="true" [style]="{width: '280px'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div style="padding-top: 5px; text-align: center;" class="ng-tns-c39-10 ng-star-inserted">
        <span>
            <strong>{{menu}}</strong>
        </span>
    </div>
    <div style="text-align: center;">
        <div class="row">
            <div class="col my-auto">
                <button (click)="setMinus()" pbutton="" type="button" icon="pi pi-minus"
                    class="p-button-rounded p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-minus" aria-hidden="true">
                    </span>
                    <span aria-hidden="true" class="p-button-label">
                        &amp;nbsp;
                    </span>
                </button>
            </div>
            <div class="col my-auto">
                <span style="font-size: 48px;">{{num}}</span>
            </div>
            <div class="col my-auto">
                <button (click)="setPlus()" pbutton="" type="button" icon="pi pi-plus"
                    class="p-button-rounded p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-plus" aria-hidden="true"></span><span aria-hidden="true"
                        class="p-button-label">&amp;nbsp;</span>
                </button>
            </div>
            <div style="text-align: center; padding-top: 20px;" class="container">
                <button (click)="setUpdateAmount()" pbutton="" type="button" icon="pi pi-check" style="width: 200px;"
                    class="p-button p-component">
                    <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                    <span class="p-button-label">ปรับปรุ่งรายการ</span>
                </button>
            </div>
            <div style="text-align: center; padding-top: 20px;" class="container">
                <button (click)="showDialogDelete()" pbutton="" type="button" label='Danger' icon="pi pi-check"
                    style="width: 200px;" class="p-button p-button-danger p-component">
                    <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
                    <span class="p-button-label">ลบรายการ</span>
                </button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="คำเตือน" [(visible)]="display_danger" [modal]="true" [style]="{width: '400px'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div style="padding-top: 5px; text-align: center;" class="ng-tns-c39-10 ng-star-inserted">
        <span>
            อาหารแบบแยกชุดสั่งรวมกับแบบบุฟเฟ่ต์ไม่ได้นะ
        </span>
    </div>
    <div style="text-align: center;">
        <div class="row">
            <div style="text-align: center; padding-top: 20px;" class="container">
                <button (click)="setClose()" pbutton="" type="button" icon="pi pi-check" style="width: 200px;"
                    class="p-button p-component">
                    <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
                    <span class="p-button-label">ปิดหน้าต่าง</span>
                </button>
            </div>

        </div>
    </div>
</p-dialog>

<p-dialog header="ยืนยัน" [(visible)]="display_confirm" [modal]="true" [style]="{width: '300px'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div style="padding-top: 5px; text-align: center;" class="ng-tns-c39-10 ng-star-inserted">
        <i class="pi pi-exclamation-circle" style="font-size: 2rem"></i>
        <span>
            ยืนยันการลบรายการอาหาร?
        </span>
    </div>
    <div style="text-align: center;">
        <div class="row">
            <div style="text-align: center; padding-top: 20px;" class="container">
                <button (click)="setDelete()" pbutton="" type="button" icon="pi pi-check" style="width: 100px;"
                    class="p-button p-component">
                    <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                    <span class="p-button-label">ตกลง</span>
                </button>
                &nbsp;
                <button (click)="setClose()" pbutton="" type="button" icon="pi pi-check" style="width: 100px;"
                    class="p-button p-component">
                    <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
                    <span class="p-button-label">ยกเลิก</span>
                </button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="ยืนยัน" [(visible)]="display_bill" [modal]="true" [style]="{width: '300px'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div style="padding-top: 5px; text-align: center;" class="ng-tns-c39-10 ng-star-inserted">
        <i class="pi pi-exclamation-circle" style="font-size: 2rem"></i>
        <span>
            ยืนยันการชำระค่าอาหาร?
        </span>
    </div>
    <div style="text-align: center;">
        <div class="row">
            <div style="text-align: center; padding-top: 20px;" class="container">
                <button (click)="setBill()" pbutton="" type="button" icon="pi pi-check" style="width: 100px;"
                    class="p-button p-component">
                    <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                    <span class="p-button-label">ตกลง</span>
                </button>
                &nbsp;
                <button (click)="setClose()" pbutton="" type="button" icon="pi pi-check" style="width: 100px;"
                    class="p-button p-component">
                    <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
                    <span class="p-button-label">ยกเลิก</span>
                </button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog (onHide)="setClose()" header="ใบเสร็จเลขที่ {{bill_id}} ค่าอาหารโต๊ะ {{table_num}}" [(visible)]="display_receipt"
    [modal]="true" [style]="{width: '600px'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="container">
        <div class="card">
            <p-table [value]="manage_order" selectionMode="single" [(selection)]="selected_order">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center; width: 140px;">รายการอาหาร</th>
                        <th style="text-align: center; width: 100px;">ราคา</th>
                        <th style="text-align: center; width: 100px;">จำนวน</th>
                        <th style="text-align: center; width: 100px;">รวม</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td style="text-align: center; width: 140px;">{{product.menuName}}</td>
                        <td style="text-align: center; width: 100px;">{{product.menuPrice}}</td>
                        <td style="text-align: center; width: 100px;">{{product.amount}}</td>
                        <td style="text-align: center; width: 100px;">{{product.total}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="container">
                <div class="row">
                    <div class="col-9" style="text-align: right; padding-top: 10px; padding-bottom: 10px;">
                        ราคารวมทั้งสิ้น
                    </div>
                    <div class="col-3"
                        style="text-align: center; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                        {{this.sum_total}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center;padding-top: 10px;">
            <div class="col" *ngIf='btn'>
                <button (click)="setClose()" style="width: 150px;" pButton type="button" label="ปิดหน้าต่าง">
                    <span class="p-button-icon p-button-icon-left pi pi-times"></span>
                </button>
            </div>
        </div>
    </div>

</p-dialog>