<body>
    <div class="container-fluid" style="width: 1180px;">
        <div class="ng-tns-c11-0 p-panel p-component">
            <p-panel>
                <ng-template pTemplate="header">
                    <div class="container-fluid">
                        <div class="row my-auto">
                            <div class="col-6 my-auto">
                                <strong>ร้านหมูกะละมัง by คุณแบงค์</strong>
                            </div>
                            <div class="col-5 my-auto" style="text-align: right;">
                                <span>{{ date | date:'d MMMM yyyy HH:mm:ss น.' }}</span>
                            </div>
                            <div class="col-1 my-auto" style="text-align: right;">
                                <button>
                                    button
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <div style="text-align: center; padding-bottom: 10px;">
                    <span>เลือกโต๊ะ </span>
                    <p-dropdown [options]="table" [(ngModel)]="selectedTable" optionLabel="name"></p-dropdown>
                </div>
                <p-splitter [style]="{'height': '600px'}">
                    <ng-template>
                        <div class='container'>
                            <div class="container" style="text-align: center;">
                                <br>
                                <strong>สั่งอาหาร</strong>
                            </div>
                            <div style="width: 420px;"><br></div>
                            <div class="row" style="text-align: center;">
                                <div class="col-sm-6">
                                    <img src="assets/images/refill.jpg" width="200px" alt="เครื่องดื่มไม่อั้น (30 บาท)">
                                    <br>เครื่องดื่มไม่อั้น (30 บาท)
                                </div>
                                <div class="col-sm-6">
                                    <img _ngcontent-hfe-c41="" src="assets/images/itim.jpeg" width="200px"
                                        alt="ไอศครีมไม่อั้น (50 บาท)">
                                    <br> ไอศครีมไม่อั้น (50 บาท)
                                </div>
                            </div>
                            <div class="row" style="text-align: center;">
                                <div class="col-sm-6">
                                    <img src="assets/images/refill.jpg" width="200px" alt="เครื่องดื่มไม่อั้น (30 บาท)">
                                    <br>เครื่องดื่มไม่อั้น (30 บาท)
                                </div>
                                <div class="col-sm-6">
                                    <img _ngcontent-hfe-c41="" src="assets/images/itim.jpeg" width="200px"
                                        alt="ไอศครีมไม่อั้น (50 บาท)">
                                    <br> ไอศครีมไม่อั้น (50 บาท)
                                </div>
                            </div>
                            <div class="row" style="text-align: center;">
                                <div class="col-sm-6">
                                    <img src="assets/images/refill.jpg" width="200px" alt="เครื่องดื่มไม่อั้น (30 บาท)">
                                    <br>เครื่องดื่มไม่อั้น (30 บาท)
                                </div>
                                <div class="col-sm-6">
                                    <img _ngcontent-hfe-c41="" src="assets/images/itim.jpeg" width="200px"
                                        alt="ไอศครีมไม่อั้น (50 บาท)">
                                    <br> ไอศครีมไม่อั้น (50 บาท)
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template>
                        <div class="container">
                            <div class="container" style="text-align: center;">
                                <br>
                                <div class="row">
                                    <div class="col-12">
                                        <strong>จัดการรายการอาหารของโต๊ะ </strong>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card">
                                <p-table [value]="products">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="text-align: center; width: 140px;">รายการอาหาร</th>
                                            <th style="text-align: center; width: 100px;">ราคา</th>
                                            <th style="text-align: center; width: 100px;">จำนวน</th>
                                            <th style="text-align: center; width: 100px;">รวม</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr>
                                            <td>{{product.code}}</td>
                                            <td>{{product.name}}</td>
                                            <td>{{product.category}}</td>
                                            <td>{{product.quantity}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-10"
                                            style="text-align: right; padding-top: 10px; padding-bottom: 10px;">
                                            ราคารวมทั้งสิ้น
                                        </div>
                                        <div _ngcontent-hfe-c41="" class="col-2"
                                            style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-splitter>
            </p-panel>
        </div>
    </div>
</body>