
<body [style]="{'background-color':'#8e3c77'}">
    <app-header></app-header><br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <p-card [style]="{'background-color':'#1e306e'}">
                <div class="row">
                    <div class="col-sm">
                        <img src="/assets/Images/1.jpg">
                    </div>
                    <div class="col">
                        <span style="color: rgb(255, 255, 255); font-size: large;">แดเนียล เวย์น เซอร์มอน
                            เป็นนักดนตรีชาวอเมริกันนักแต่งเพลงและโปรดิวเซอร์ เขาเป็นมือกีต้าร์นำสำหรับวงร็อคป๊อป Imagine
                            Dragons</span>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <br>
    <app-footer></app-footer>
</body>