<div class="container" style="background-color: rgb(250, 213, 168);">
    <div class="row justify-content-center">
        <h1>News</h1>
    </div>
    <br>
    <div class="row" style="background-color: burlywood;">
        <div class="col-sm-7">
            <div class="d-flex flex-row">
                <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="ค้นหา" [(ngModel)]="value" />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
       
        <div class="col-sm-3">
            <p-card header="เข้าสู่ระบบ" [style]="{width: '240px'}" styleClass="p-card-shadow">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText [(ngModel)]="value1">
                    <label for="float-input">Username</label>
                </span>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="password" pInputText [(ngModel)]="value2">
                    <label for="float-input">password</label>
                </span>
                <ng-template pTemplate="footer">
                    <p-button label="เข้าสู่ระบบ"></p-button>&nbsp;
                    <p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="Show"></p-button>
                    <p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok"
                                styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>
                </ng-template>
            </p-card>
            <br>
            <p-chart type="polarArea" [data]="data"></p-chart>
        </div>
        <div class="col-sm-9">
            <p-panel header="ข่าว">
                <p>Elon Musk เป็นผู้สนับสนุน Bitcoin
                    เมื่อวันที่ 29 มกราคมที่ผ่านมานั้น นาย Elon ได้ออกมากล่าวใน Podcast
                    โดยยอมรับว่าเขานั้นเป็นผู้ให้การสนับสนุน Bitcoin อีกทั้งยังเปลี่ยนสเตตัสบน Twitter เป็นคำว่า
                    Bitcoin อีกด้วย

                    อย่างไรก็ตาม ไม่นานหลังจากนั้นเขาก็เอาสเตตัสดังกล่าวออกจาก Twitter ของเขา และเริ่มเชียร์
                    Dogecoin

                    แต่หลังจากที่เขาเชียร์ Dogecoin อยู่ได้ไม่นาน ก็ได้ออกมาประกาศว่า Tesla นั้นได้ทำการซื้อ Bitcoin
                    จำนวน 1.5 พันล้านดอลาร์ ซึ่งคิดเป็นเงินราว ๆ เกือบ 10% ของเงินในบริษัทเลยทีเดียว</p>
            </p-panel>
            <br>
            <div class="card">
                <p-tabView>
                    <p-tabPanel header="Header I">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.</p>
                    </p-tabPanel>
                    <p-tabPanel header="Header II">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                        </p>
                    </p-tabPanel>
                    <p-tabPanel header="Header III">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati
                            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                            id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                            distinctio.
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                        </p>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <br><br>
            <div class="p-col-12 p-md-4">
                <div class="card">
                    <h5>Online</h5>
                    <p-avatarGroup styleClass="p-mb-3">
                        <p-avatar image="assets/showcase/images/demo/avatar/amyelsner.png" size="large" shape="circle">
                        </p-avatar>
                        <p-avatar image="assets/showcase/images/demo/avatar/asiyajavayant.png" size="large"
                            shape="circle"></p-avatar>
                        <p-avatar image="assets/showcase/images/demo/avatar/onyamalimba.png" size="large"
                            shape="circle"></p-avatar>
                        <p-avatar image="assets/showcase/images/demo/avatar/ionibowcher.png" size="large"
                            shape="circle"></p-avatar>
                        <p-avatar image="assets/showcase/images/demo/avatar/xuxuefeng.png" size="large" shape="circle">
                        </p-avatar>
                        <p-avatar label="+2" shape="circle" size="large"
                            [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                    </p-avatarGroup>
                </div>
            </div>

        </div>
    </div>
</div>