<body [style]="{'background-color':'#8e3c77'}">
    <app-header></app-header><br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <img src="/assets/Images/all.jpg" style="width:100%;">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <p-card [style]="{'background-color':'#1e306e'}">
                <div class="row">
                    <div class="col-sm">
                        <img src="/assets/Images/source.gif">
                    </div>
                    <div class="col">
                        <span style="color: rgb(255, 255, 255); font-size: large;">
                            อิแมจินดรากอนส์ (อังกฤษ: Imagine Dragons)
                            เป็นวงดนตรีแนวอัลเทอร์เนทีฟร็อกชาวอเมริกันมาจากเมืองลาสเวกัส รัฐเนวาดา
                            วงเป็นที่รู้จักในเดือนกันยายน ค.ศ. 2012 หลังจากออกสตูดิโออัลบั้มเปิดตัว ไนต์วิชันส์
                            และซิงเกิลแรก "อิตส์ไทม์ " อัลบั้มขึ้นถึงอันดับ 2 บนชาร์ตบิลบอร์ด 200
                            และนำไปสู่การทัวร์คอนเสิร์ตในปี ค.ศ. 2013 ตามข้อมูลของนิตยสารบิลบอร์ด
                            อิแมจินดรากอนส์อยู่อันดับ 1 ของการจัดอันดับวงร็อกแห่งปี ค.ศ. 2013
                            บิลบอร์ดขนานนามอิแมจินดรากอนส์ให้เป็น "วงดนตรีที่ประสบความสำเร็จมากที่สุดแห่งปี ค.ศ. 2013 "
                            (The Breakthrough Band of 2013) และนิตยสารโรลลิงสโตน เรียกซิงเกิล "เรดิโอแอ็กทีฟ "
                            ว่าเป็นเพลงร็อกที่เป็นที่นิยมที่สุดแห่งปี เอ็มทีวีขนานนามวงว่าเป็น "วงดนตรีที่มาแรงแห่งปี "
                            (the year's biggest breakout band)</span>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <app-footer></app-footer>
</body>