<body [style]="{'background-color':'#8e3c77'}">
    <app-header></app-header><br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <p-card [style]="{'background-color':'#1e306e'}">
                <div class="row">
                    <div class="col-sm">
                        <img src="/assets/Images/2.jpg">
                    </div>
                    <div class="col">
                        <span style="color: rgb(255, 255, 255); font-size: large;">แดน เรย์โนลด์ส
                            Daniel Coulter Reynolds เป็นนักร้องนักแต่งเพลงและโปรดิวเซอร์ชาวอเมริกัน
                            เขาเป็นนักร้องนำและเหลือสมาชิกดั้งเดิมของวงร็อคป๊อป Imagine Dragons
                            เรย์โนลด์สได้เปิดตัวสอีในปี 2554 ชื่ออียิปส์ -
                            สอีในฐานะคู่หูกับอะจาโวลค์แมนภรรยาของเขาภายใต้ชื่อเล่นอียิปต์ เขาเป็นผู้รับรางวัล Hall of
                            Fame Hal David Starlight Awards</span>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <br>
    <app-footer></app-footer>
</body>